@import "../../main.scss";

.cardPerfil {
    display: flex;
    flex-direction: column;
    background-color: #3e3e3e;
    min-width: 23%;
    border-radius: 9px;
    border: 1px solid rgba(255, 255, 255, .5);
    height: 100%;
    figure {
        display: flex;
        justify-content: center;
        margin: 2.5rem 1.5rem 1.5rem;

        img {
            width: 9rem;
            height: 9rem;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;
        }
    }

    &__name {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        .role {
            font-size: .95rem;
            margin-top: .3rem;
            color: #6c757d;
        }

        .name {
            color: #fff;
            font-size: 1.25rem;
            font-weight: 700;
        }

    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 1.2rem;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid rgba(255, 255, 255, .5);
            border-left: 1px solid rgba(255, 255, 255, .5);
            border-bottom: 1px solid rgba(255, 255, 255, .5);
            padding: 1rem 2.2rem 1rem;
            width: 50%;

            .number {
                color: #fff;
                font-size: 1.1rem;
                font-weight: 700;
                margin-bottom: .1rem;
            }

            .views {
                font-size: .8rem;
                color: rgba(255, 255, 255, .5);
            }
        }
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-bottom: 1.5rem;
        color: $color-secondary;
        font-weight: 700;
        transition: .1s ease-in-out;

        &:hover {
            color: #45b649;
            transition: .1s ease-in-out;
        }
    }
}